<h1>Editing "<%= @model.title %>"</h1>

<%= simple_form_for @form, as: :post, url: post_path(@model.id), method: :patch do |form| %>
  <div>
    <%= form.label @model.title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label @model.content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :post_user_id, 
    value: current_user.id , type: :hidden %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>